*{margin: 0;padding: 0;box-sizing: border-box;}
.content{display:flex;justify-content: center;}

.frame{display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,1fr);
    grid-template-areas: 

    "screen screen screen screen"
    "zero un deu troi"
    "qua cinq six sept"
    "huit neuf point plus"
    "moins fois sur egal"
    "reset reset clear clear";
    grid-gap:5px 5px;
    height: 500px;
    width: 500px;
    margin-top: 50px;
}

.screen{grid-area: screen;background-color: rgba(255, 255, 255, 0.507);padding: 20px 10px;border: 2px solid #181a1b;border-radius: 5px;font-size:  x-large;}
.zero{grid-area: zero;background-color: rgba(0, 128, 0, 0.589);}
.un{grid-area: un;background-color: rgba(0, 128, 0, 0.589);}
.deu{grid-area: deu;background-color: rgba(0, 128, 0, 0.589);}
.troi{grid-area: troi;background-color: rgba(0, 128, 0, 0.589);}
.qua{grid-area: qua;background-color: rgba(0, 128, 0, 0.589);}
.cinq{grid-area: cinq;background-color: rgba(0, 128, 0, 0.589);}
.six{grid-area: six;background-color: rgba(0, 128, 0, 0.589);}
.sept{grid-area: sept;background-color: rgba(0, 128, 0, 0.589);}
.huit{grid-area: huit;background-color: rgba(0, 128, 0, 0.589);}
.neuf{grid-area: neuf;background-color: rgba(0, 128, 0, 0.589);}
.point{grid-area: point;background-color: rgba(0, 128, 0, 0.589);}
.plus{grid-area: plus;background-color: rgba(134, 93, 4, 0.63);}
.moins{grid-area: moins;background-color: rgba(134, 93, 4, 0.63);}
.fois{grid-area: fois;background-color: rgba(134, 93, 4, 0.63);}
.sur{grid-area: sur;background-color: rgba(134, 93, 4, 0.63);}
.egal{grid-area: egal;background-color: rgba(134, 93, 4, 0.63);}
.reset{grid-area: reset;background-color: rgba(1, 48, 136, 0.589);}
.clear{grid-area: clear;background-color: rgba(128, 9, 0, 0.589);}


button{
    padding: 40px 60px;
    font-size:  x-large;
    text-align: center;
    justify-content : center;
    margin: auto;
}
.bt-long{
    padding: 40px 125px;
    text-align: center;
}
