


#header {
    height: 60px;
    background-color: rgb(14, 7, 7);
    color: white;
}
#branding h1 {
    padding: 0;
    margin: 0 20px 0 0;
    font-weight: 300;
    font-size: 2.5rem;
    color: white;
}

a:link,a:visited{
    color: #10284e;
}


div.breadcrumbs{
    background: #ee8133;
}

.module h2, .module caption, .inline-group h2 {
    margin: 0;
    padding: 8px;
    font-weight: 400;
    font-size: 0.8125rem;
    text-align: left;
    background: #ee8133;
    color: var(--header-link-color);
}