{% extends "accounts/dashboard/base.html" %}

{% block content %}
<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Tableau de bord</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active">Tableau de bord</li>
            </ol>
            <div class="row">
                <h3><strong>Les requêtes soumis</strong></h3>
                {% for contact in contacts %}
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-light text-black mb-4">
                        <div class="card-body">{{ contact.annonce }}
                            <hr>
                            <div>{{ contact.message }}</div>
                        </div>
                        
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small stretched-link" href="{% url 'annonce' contact.annonce_id %}">View Details</a>
                            <div class="small text-primary"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; Your Website 2022</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>
{% endblock %}

