<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Identity</h1>
    {% block content %}
        <h3> number : {{ person.id }}</h3>
        <h3> name : {{ person.name }}</h3>
        <h3> age : {{ person.age }}</h3>
        <h3> country : {{ person.country }}</h3>
    {% endblock content %}
</body>
</html>