{% extends 'base.html' %}

{% block link %}
{% load static %}
  <link href="{% static 'css/caroussel.css' %}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block title %}
{{ annonce.titre }}
{% endblock %}

{% block content %}
<main class="container mt-5">
  <div class="row align-items-start">
    <div class="col w-100">
      <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-div="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-div="Slide 2"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-div="Slide 3"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="3" aria-div="Slide 4"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="4" aria-div="Slide 5"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="5" aria-div="Slide 6"></button>
      </div>
      <div class="carousel-inner">
        {% if annonce.photo_majeure %}
          <div class="carousel-item active">
            <img src="{{ annonce.photo_majeure.url }}" alt="" class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <div class="container">
                <div class="carousel-caption text-start">
                <h1>Image majeure.</h1>
                <p>Image représentative de l'emplacement extérieur.</p>
                <p><a class="btn btn-lg btn-primary" href="#">Postuler</a></p>
                </div>
            </div>
          </div>
        {% endif %}

        {% if annonce.photo_1 %}
          <div class="carousel-item">
            <img src="{{ annonce.photo_1.url }}" alt="" class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          </div>
        {% endif %}
        

        {% if annonce.photo_2 %}
          <div class="carousel-item">
            <img src="{{ annonce.photo_2.url }}" alt="" class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          </div>
        {% endif %}
        

        {% if annonce.photo_3 %}
          <div class="carousel-item">
            <img src="{{ annonce.photo_3.url }}" alt="" class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          </div>
        {% endif %}
        

        {% if annonce.photo_4 %}
          <div class="carousel-item">
            <img src="{{ annonce.photo_4.url }}" alt="" class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          </div>
        {% endif %}
        

        {% if annonce.photo_5 %}
          <div class="carousel-item">
            <img src="{{ annonce.photo_5.url }}" alt="" class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          </div>
        {% endif %}
        

      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
      </div>

      <div class="b-example-divider"></div>

      <div class="list-group w-auto">
        <div class="list-group-item d-flex gap-3 justify-content-between bg-light">
          <span class="pt-1 form-checked-content">
            <strong>Titre</strong>
            <small class="d-block text-muted">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-archive-fill" viewBox="0 0 16 16">
                <path d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15h9.286zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zM.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8H.8z"/>
              </svg>
              {{ annonce.titre }}
            </small>
          </span>
          <span class="pt-1 form-checked-content">
            <strong>Prix</strong>
            <small class="d-block text-muted">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16">
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"/>
                <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"/>
              </svg>
              XOF {{ annonce.prix }}
            </small>
          </span>
        </div>
        <div class="list-group-item d-flex gap-3 justify-content-between">
          <span class="pt-1 form-checked-content">
            <strong>Adresse</strong>
            <small class="d-block text-muted">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-buildings" viewBox="0 0 16 16">
                <path d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022ZM6 8.694 1 10.36V15h5V8.694ZM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15Z"/>
                <path d="M2 11h1v1H2v-1Zm2 0h1v1H4v-1Zm-2 2h1v1H2v-1Zm2 0h1v1H4v-1Zm4-4h1v1H8V9Zm2 0h1v1h-1V9Zm-2 2h1v1H8v-1Zm2 0h1v1h-1v-1Zm2-2h1v1h-1V9Zm0 2h1v1h-1v-1ZM8 7h1v1H8V7Zm2 0h1v1h-1V7Zm2 0h1v1h-1V7ZM8 5h1v1H8V5Zm2 0h1v1h-1V5Zm2 0h1v1h-1V5Zm0-2h1v1h-1V3Z"/>
              </svg>
              {{ annonce.adresse }}
            </small>
          </span>
          <span class="pt-1 form-checked-content">
            <strong>Ville</strong>
            <small class="d-block text-muted">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-buildings" viewBox="0 0 16 16">
                <path d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022ZM6 8.694 1 10.36V15h5V8.694ZM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15Z"/>
                <path d="M2 11h1v1H2v-1Zm2 0h1v1H4v-1Zm-2 2h1v1H2v-1Zm2 0h1v1H4v-1Zm4-4h1v1H8V9Zm2 0h1v1h-1V9Zm-2 2h1v1H8v-1Zm2 0h1v1h-1v-1Zm2-2h1v1h-1V9Zm0 2h1v1h-1v-1ZM8 7h1v1H8V7Zm2 0h1v1h-1V7Zm2 0h1v1h-1V7ZM8 5h1v1H8V5Zm2 0h1v1h-1V5Zm2 0h1v1h-1V5Zm0-2h1v1h-1V3Z"/>
              </svg>
              Bobo Dioulasso
            </small>
          </span>
        </div>
        <div class="list-group-item d-flex gap-3 justify-content-between">
          <span class="pt-1 form-checked-content">
            <strong>Region</strong>
            <small class="d-block text-muted">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-map" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8l3-4z"/>
                <path fill-rule="evenodd" d="M8 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6zM4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z"/>
              </svg>
              {{ annoce.region }}
            </small>
          </span>
          <span class="pt-1 form-checked-content">
            <strong>code Postal</strong>
            <small class="d-block text-muted">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
              </svg>
              {{ annonce.code_postal }}
            </small>
          </span>
        </div>
        <div class="list-group-item d-flex gap-3 justify-content-between">
          <span class="pt-1 form-checked-content">
            <strong>chambres</strong>
            <small class="d-block text-muted">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-door-open" viewBox="0 0 16 16">
                <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
                <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z"/>
              </svg>
              {{ annonce.chambres }}
            </small>
          </span>
          <span class="pt-1 form-checked-content">
            <strong>Salles de bain</strong>
            <small class="d-block text-muted">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bricks" viewBox="0 0 16 16">
                <path d="M0 .5A.5.5 0 0 1 .5 0h15a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H14v2h1.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H14v2h1.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5H2v-2H.5a.5.5 0 0 1-.5-.5v-3A.5.5 0 0 1 .5 6H2V4H.5a.5.5 0 0 1-.5-.5v-3zM3 4v2h4.5V4H3zm5.5 0v2H13V4H8.5zM3 10v2h4.5v-2H3zm5.5 0v2H13v-2H8.5zM1 1v2h3.5V1H1zm4.5 0v2h5V1h-5zm6 0v2H15V1h-3.5zM1 7v2h3.5V7H1zm4.5 0v2h5V7h-5zm6 0v2H15V7h-3.5zM1 13v2h3.5v-2H1zm4.5 0v2h5v-2h-5zm6 0v2H15v-2h-3.5z"/>
              </svg>
              {{ annonce.douches }}
            </small>
          </span>
          <span class="pt-1 form-checked-content">
            <strong>Garages</strong>
            <small class="d-block text-muted">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-car-front" viewBox="0 0 16 16">
                <path d="M4 9a1 1 0 1 1-2 0 1 1 0 0 1 2 0Zm10 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2H6ZM4.862 4.276 3.906 6.19a.51.51 0 0 0 .497.731c.91-.073 2.35-.17 3.597-.17 1.247 0 2.688.097 3.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 10.691 4H5.309a.5.5 0 0 0-.447.276Z"/>
                <path d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679c.033.161.049.325.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.807.807 0 0 0 .381-.404l.792-1.848ZM4.82 3a1.5 1.5 0 0 0-1.379.91l-.792 1.847a1.8 1.8 0 0 1-.853.904.807.807 0 0 0-.43.564L1.03 8.904a1.5 1.5 0 0 0-.03.294v.413c0 .796.62 1.448 1.408 1.484 1.555.07 3.786.155 5.592.155 1.806 0 4.037-.084 5.592-.155A1.479 1.479 0 0 0 15 9.611v-.413c0-.099-.01-.197-.03-.294l-.335-1.68a.807.807 0 0 0-.43-.563 1.807 1.807 0 0 1-.853-.904l-.792-1.848A1.5 1.5 0 0 0 11.18 3H4.82Z"/>
              </svg>
              {{ annonce.garages }}
            </small>
          </span>
        </div>
        <div class="list-group-item d-flex gap-3 justify-content-between">
          <span class="pt-1 form-checked-content">
            <strong>Taille</strong>
            <small class="d-block text-muted">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-border-all" viewBox="0 0 16 16">
                <path d="M0 0h16v16H0V0zm1 1v6.5h6.5V1H1zm7.5 0v6.5H15V1H8.5zM15 8.5H8.5V15H15V8.5zM7.5 15V8.5H1V15h6.5z"/>
              </svg>
              {{ annonce.taille }} mètre carré
            </small>
          </span>
        </div>

      </div>
      
      <div class="b-example-divider"></div>

      <div class="card mt-5 shadow">
        <h5 class="card-header"><strong>Description</strong></h5>
        <div class="card-body">
          <p class="card-text">{{ annonce.description }}</p>
        </div>
      </div>

      <div class="card mt-5 shadow">
        <h5 class="card-header"><strong>Localisation</strong></h5>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">{{ annonce.description }}</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="col-sm-12 col-lg-5" style="display: block; margin-left: auto; margin-right: auto;">
        <div class="card" style="width: 18rem;">
            {% if annonce.agent.photo%}
            <img src="{{ annonce.agent.photo.url }}" class="card-img-top d-block w-100 "alt="...">
            {% endif %}
            <div class="card-body" style="text-align: center">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><Span style="font-weight: bold">
                      Nom : </Span>{{ annonce.agent.nom }} 
                    </li>
                    <li class="list-group-item"><Span style="font-weight: bold">Prenom : </Span>{{ annonce.agent.prenom }}</li>
                  </ul>
            </div>
        </div>
        <div class="card mt-3" style="width: 18rem;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item" style="text-align: center;font-weight: bold">Bio</li>
              <li class="list-group-item">{{ annonce.agent.description }}</li>
            </ul>
            <div class="card-footer">
            </div>
        </div>
        <div class="card mt-3 bg-light" style="width: 18rem; border:none;">
          <button class="btn btn-dark mb-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Postuler</button>
          <button class="btn btn-outline-dark mb-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasVisiter" aria-controls="offcanvasVisiter">Visiter</button>
        </div>
    </div>

      <!-- POSTULER -->
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasRightLabel">Postuler pour la propriété</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body bg-light">
          <div>
            <form action="{% url 'contact' %}" method="POST">
            {% csrf_token %}

            {% if user.is_authenticated %}
              <input type="hidden" name="user_id" class="form-control" id="user_id" value="{{ user.id }}">
            {% else %}
            <input type="hidden" name="user_id" class="form-control" id="user_id" value="0">
            {% endif %}

            <input type="hidden" name="annonce_id" class="form-control" value="{{ annonce.id }}">

            <input type="hidden" name="agent_email" class="form-control" value="{{ annonce.agent.email }}">

              <div class="mb-3">
                <input type="text"  value="{{ annonce.titre }}" class="form-control" disabled>
                <input type="hidden" name="annonce" id="annonce" value="{{ annonce.titre }}">
              </div>

              <div class="mb-3">
                <label for="nom" class="form-label">Nom</label>
                <input type="text" name="nom" class="form-control" id="nom" placeholder="votre nom" {% if user.is_authenticated %}value="{{ user.first_name }} {{ user.last_name }}"{%endif%} required>
              </div>

              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" id="email" {% if user.is_authenticated %} value="{{ user.email }}" {%endif%} required >
              </div>

              <div class="mb-3">
                <label for="phone" class="form-label">Téléphone</label>
                <input type="tel" name="phone" class="form-control" id="phone" placeholder="+22601010101" required>
              </div>

              <div class="mb-3">
                <label for="message" class="form-label">Message</label>
                <textarea name="message" class="form-control" id="message" placeholder="écrire..." rows="4" required></textarea>
              </div>

              <button class="btn btn-dark" type="submit">Envoyer</button>
            </form>
          </div>
        </div>
      </div>
      <!-- FIN POSTULER -->

      <!-- VISITER -->
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasVisiter" aria-labelledby="offcanvasVisiterLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasVisiterLabel">Demander une visite</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body bg-light">
          <div>
            <form action="{% url 'contact' %}" method="POST">
              {% csrf_token %}

              {% if user.is_authenticated %}
                <input type="hidden" name="user_id" class="form-control" id="user_id" value="{{ user.id }}">
              {% else %}
              <input type="hidden" name="user_id" class="form-control" id="user_id" value="0">
              {% endif %}

              <input type="hidden" name="annonce_id" class="form-control" id="user_id" value="{{ annonce.id }}">

              <input type="hidden" name="agent_email" class="form-control" id="user_id" value="{{ annonce.agent.email }}">

              <input type="hidden" name="message" class="form-control" value="visiter">

              <div class="mb-3">
                <input type="text"  value="{{ annonce.titre }}" class="form-control" disabled>
                <input type="hidden" name="annonce" id="annonce" value="{{ annonce.titre }}">
              </div>
  
                <div class="mb-3">
                  <label for="nom" class="form-label">Nom</label>
                  <input type="text" name="nom" class="form-control" id="nom" placeholder="votre nom" {% if user.is_authenticated %}value="{{ user.first_name }} {{ user.last_name }}"{%endif%} required>
                </div>
  
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" name="email" class="form-control" id="email" {% if user.is_authenticated %} value="{{ user.email }}" {%endif%} required >
                </div>
  
                <div class="mb-3">
                  <label for="phone" class="form-label">Téléphone</label>
                  <input type="tel" name="phone" class="form-control" id="phone" placeholder="+22601010101" required>
                </div>

              <button class="btn btn-dark" type="submit">Envoyer</button>
            </form>
          </div>
        </div>
      </div>
      <!-- FIN VISITER -->

    </div>
  </div>
    
</main>
{% endblock content %}

